@import "assetss/globalstyles/style.scss";
.a_section1 {
    position: relative;
    background-image: linear-gradient(to right, $bg-color3, $bg-color4);
    background-color: rgba(0, 0, 0, 0.473);
    background-blend-mode: multiply;
    min-height: 100vh;
    padding-top: 7rem;
    z-index: -1;
    @include flex();
    >img {
        position: absolute;
        opacity: 0.6;
    }
    .container {
        position: relative;
        .circel {
            position: absolute;
            right: -10%;
            top: -80%;
        }
        h1 {
            font-size: 70px;
            transform: scaleY(2);
            span {
                position: absolute;
                bottom: -40px;
                right: 0;
                font-size: 60px;
                margin-left: 1rem;
                background: radial-gradient( 63.01% 54.63% at 83.85% 75.44%, #f69d26 0%, #f97400 27.33%, #f23ac6 54.4%, #e138c6 78.88%, #db34bf 100%);
                background-clip: text;
                color: transparent;
                span {
                    font-weight: normal;
                    font-size: 17px;
                    opacity: 0.7;
                    color: rgb(255, 255, 255);
                    position: absolute;
                    top: 60%;
                    right: 95%;
                }
            }
        }
        .bottom-circel {
            left: -10%;
            bottom: -100%;
            position: absolute;
            width: 150px;
            height: 150px;
            @include flex(column);
            img {
                position: absolute;
                width: fit-content;
            }
             :not(img) {
                line-height: 17px;
                font-weight: 700;
                text-align: center;
                * {
                    display: block;
                    font-size: 7px;
                }
            }
            .circle {
                position: absolute;
                top: 0%;
                left: -10%;
                border: #db34bf 1px solid;
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }
        }
    }
}