@mixin flex( $dir: row, $justify-content: center, $align-items: center, $gap: 0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
    @media (max-width: $smollScreen) {
        flex-direction: column;
    }
}

@mixin transation($time) {
    transition: all ease-in-out $time;
}

$bg-color1: #f23ac6;
$bg-color2: #fc7000;
$bg-color3: #3331f5;
$bg-color4: #500c96;
$smollScreen: 900px;
$mediamScreen: 1400px;