@import "assetss/globalstyles/style.scss";
.S-section1 {
    background-image: linear-gradient(to right, $bg-color3, $bg-color4);
    gap: 2rem;
    min-height: 100vh;
    padding-top: 150px;
    font-weight: 400;
    line-height: 70px;
    .title {
        @include flex(column, center, center, 3rem);
        h4 {
            margin-top: -5rem;
            margin-left: -1rem;
        }
    }
    .info {
        @include flex(row, space-between, center, 3rem);
        padding-bottom: 1rem;
        .col {
            &:nth-child(1) {
                p {
                    font-weight: 900;
                    font-size: 45px;
                    line-height: 45px;
                    color: #3a1093;
                    position: relative;
                    letter-spacing: 2px;
                    width: 290px;
                    span {
                        width: fit-content;
                        color: #f85911;
                        position: absolute;
                        bottom: -40%;
                        right: 1%;
                        letter-spacing: -3px;
                        font-style: italic;
                        font-weight: 400;
                    }
                }
            }
            p {
                line-height: 30px;
                max-width: 400px;
                span {
                    color: aliceblue;
                    opacity: 0.7;
                }
            }
        }
    }
}