@import "assetss/globalstyles/style.scss";
.to-top {
    @include flex();
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(5, 72, 117);
    position: absolute;
    right: 5px;
    font-weight: bolder;
    font-size: 20px;
    opacity: 0.6;
    transition: ease-in-out 0.3s;
    &:hover {
        opacity: 1;
    }
}

@media (max-width: $smollScreen) {
    .to-top {
        position: fixed;
        bottom: 5px;
    }
}