@import "assetss/globalstyles/style.scss";
.S-section3 {
    min-height: 100vh;
    background-color: $bg-color4;
    padding-top: 2rem;
    .container {
        @include flex(row);
        .cards {
            padding: 1rem;
            @include flex(column, center, center, 1rem);
            .card {
                width: 350px;
                padding: 1rem;
                background: linear-gradient(120.87deg, #ff4f00 28.43%, #fd7d00 86.35%);
                border-radius: 12px;
                padding: 2rem 1rem;
                h1 {
                    padding-left: 10%;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 20px;
                }
                h2 {
                    padding-left: 50%;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 72px;
                    opacity: 0.7;
                }
                p {
                    max-width: 200px;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 16px;
                    text-align: left;
                    span {
                        opacity: 0.5;
                        margin: 1rem;
                    }
                }
                .circel {
                    float: right;
                    width: 130px;
                    height: 120px;
                    @include flex();
                    font-weight: 900;
                    line-height: 100px;
                    letter-spacing: 1px;
                    border-radius: 50%;
                    background-color: $bg-color1;
                    .progressCircel {
                        @include flex();
                        width: 60px;
                        height: 60px;
                        border-radius: inherit;
                        background-color: inherit;
                        border-right: 2px solid $bg-color4;
                        &.__2 {
                            border-bottom: 2px solid $bg-color4;
                        }
                        &.__3 {
                            border: 2px solid $bg-color4;
                        }
                    }
                }
            }
        }
        .__2 {
            .cards .card {
                background: linear-gradient(120.87deg, #5c0b7e 16.41%, #f23ac6 83.91%);
            }
        }
        .__3 {
            .cards .card {
                background: linear-gradient(120.87deg, #4618b5 16.41%, #5c0b7e 74.69%);
            }
        }
    }
}